[submodule "benchmarks/week2"]
	path = benchmarks/week2
	url = https://github.com/SamGu-NRX/cogworks-week2-vision-benchmark.git
[submodule "benchmarks/week3"]
	path = benchmarks/week3
	url = https://github.com/SamGu-NRX/cogworks-week3-language-benchmark.git
[submodule "benchmarks/week1"]
	path = benchmarks/week1
	url = https://github.com/SamGu-NRX/cogworks-week1-audio-benchmark.git
